.stiker{
	width:90px;
	display:inline-block;
	margin:40px;
}
.stiker img{
	max-width:100%;
}

#montage{
	width:90%;
	margin-left:auto;
	margin-right:auto;
	/* border:solid 2px blue; */
}
#side{
	width:30%;
	border:solid 2px green;
	display:inline-block;
	vertical-align:top;
	min-height:500px;
}
#pastille{
	width:640px;
	height:210px;
	overflow:scroll;
	/* border:solid 2px blue; */
}
#side img{
	max-width:100%;
	margin-bottom:20px;
}

#imgscreenshot{
	width:90%;
	padding-left:5%;
	padding-right:5%;
}

#main{
	display:inline-block;
	/* border:solid 2px red; */
	width:60%;
	margin-right:8%;
	height:200px;
}

#video{
	text-align:center;
	padding-left:auto;
	padding-right:auto;
	/* border:solid 5px pink; */
}
video{
	max-width:100%;
	height:auto;
}
#main input[type=button]{
	margin:20px;
	height:40px;
	border:solid 2px black;
}
h1{
	text-align:center;
}
a{
	text-decoration: none;
	font-size:20px;
	color:black;
}
li{
	list-style-type:none;
}
#login{
	position:relative;
	padding-left:10px;
	width:100px;
	text-align:left;
	left:800px;
	top:-110px;
}
#login{
	font-size:19px
}
#login a{
	font-size:19px
}
#nav{
	text-align:center;
	background-color:blue;
	margin-top:0;
}
#nav li{
	display:inline-block;
	margin-right:30px;
	padding:3px;
}
#nav a{
	color:white;
}
#nav a:hover{
	text-decoration:underline;
	color:red;
}
#footer{
	text-align:right;
	margin-right:30px;
	margin-top:50px;
}
.form{
	border:solid 2px black;
	margin-left:auto;
	margin-right:auto;
	width:400px;
}

.form  p{
	margin-left:20px;
}

#galery img{
	height:150px;
	width:225px;
	margin:15px;
}

#galery{
	width:900px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

#pagination{
	text-align:center;

}

#pagination li{
	display:inline-block;

}

body{
	width:920px;
	margin-left:auto;
	margin-right:auto;
}



